/*!
@authors: Adriano Tumminelli, Marco Emporio, Rosario Di Matteo
*/

@font-face {
  font-family: Roboto;
  src: url(roboto.ttf);
}


body{
  font: 12pt Roboto;
  background:#fafafa;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  /*transition: 0.4s;*/
  border-radius:5px;
  border:1px solid #ddd;
  margin-top:5px;
  font-weight:bold;
}
.center{
  text-align: center;
}
.link{
  text-decoration: none;
  color:#0c8d51
}

.link:hover{
  text-decoration: none;
  color:#0b9482
}

h1{
  text-shadow: 2px 2px 6px #0000001c
}

.arrow-container{ 
  width: 30px; 
  float: left;
  line-height: 50px;
}
.inline {
  display:inline-block;
}
.excontainer{
  float: left;
  height: 60px;
}
.exname{
  margin: 2px;
  padding: 2px;
}
.subexname{
  margin: 2px;
  padding: 2px;
  display:inline-block;
  line-height: 50px;
}
.score {
  display: inline-block;
  float:right;
}

.number{
  padding:2px;
  width:30px;
  font-weight:normal;
}

.certpoints{ 
  width:45px;
  display:inline-block;
  text-align:center;
  border:1px solid #aaa;
  background-color: #efefef;
  padding:2px;
  border-radius:4px;
  font-weight:normal;
}

.maxpoints{
  width:45px;
  display:inline-block;
  text-align:center;
  border:1px solid #aaa;
  background-color: #efefef;
  padding:2px;
  border-radius:4px;
  font-weight:normal;
}

.head{
  border:1px solid #ddd;
  background-color: #eee;
  border-radius:5px;
  padding:5px;
}

.box{
  margin: 5px 0px;
  display:inline-block;
}

.section {
  font-size:10pt;
  font-weight:normal;
  padding:2px 0px;
  margin:2px 0px;
  color:#333;
}

.competence{
  background-color: #34613e;
  border-radius:4px;
  color:#eee;
  display:inline-block;
  padding:2px 5px;
  font-size: 10pt;
}

select{
  padding: 3px;
  width:200px;
}
textarea {
    width: 100%;
    padding-bottom: 10px;
}


.active {
  background-color: #cdded1;
}
.accordion:hover{
  background-color: #cdcdcd;
}


.select_points{
  width:70px;
}
button::-moz-focus-inner {
  border: 0;
}




/*
.active:after {
  content: "\2212";
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
*/


.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  /*transition: max-height 0.2s ease-out;*/
}

  
.button {
  background-color: #4CAA50; 
  color: #eee; 
  border: none; 
  border-radius:10px;
  margin: 4px 2px;
  padding: 12px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: #4CCC66;
  color: white;
  border-radius:8px;
}

.button:focus {outline:0;}
.blockcenter { 
  margin:0 auto;
  display: block;
}

.left { 
  float:left;
}
.right { 
  float:right;
}

.confirm-mode{
  color:#ad3a26;
  vertical-align: middle;
  font-size: 16pt;
}

.confirm-checkbox {
  width:25px;
  height:25px;
  margin-right:50px;
  vertical-align: middle
} 

.green{
  color:#26ad69;
}

#submit-label{ 
  color:#ad3a26;
  font-size:16pt;
}